html {
  height: 100%;
  overflow: auto; }

body {
  background-color: black;
  height: 100%; }

button {
  cursor: pointer; }

#myCanvas {
  overflow: scroll;
  background-color: black; }

#tile {
  display: none; }

#resource-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 20vw;
  height: 30vh;
  padding: 5px; }

.resource {
  display: flex;
  margin-top: 2.5vh;
  align-items: center;
  height: 6vh; }

#resource-gem, #resource-coin, #resource-wood, #resource-stone, #resource-energy, #resource-xp {
  height: 100%;
  border: 2px solid black; }

#gems, #coins, #wood, #stone, #energy, #xp {
  position: relative;
  width: 100%;
  height: 80%;
  border: 1px dashed black;
  border-bottom-right-radius: 12.5px;
  border-top-right-radius: 12.5px;
  font-size: 3vh; }

#gems, #resource-gem {
  background-color: #b3d1ff; }

#coins, #resource-coin {
  background-color: #ffffb3; }

#wood, #resource-wood {
  background-color: #e6cab3; }

#stone, #resource-stone {
  background-color: #f2f2f2; }

#energy, #resource-energy {
  background-color: lime; }

#xp, #resource-xp {
  background-color: #b17cc4; }

.buy-resource {
  position: absolute;
  display: flex;
  right: -0.5vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  font-size: 2vh;
  justify-content: center;
  align-items: center; }

#coin-amount, #wood-amount, #stone-amount, #gem-amount, #energy-amount, #xp-amount {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

#coin-total-coins, #wood-total-wood, #stone-total-stones, #energy-total-energy, #xp-total-xp {
  height: 100%;
  border-right-style: ridge;
  border-bottom-right-radius: 12.5px;
  border-top-right-radius: 12.5px; }

#coin-total-coins {
  background-color: yellow; }

#wood-total-wood {
  background-color: brown; }

#stone-total-stones {
  background-color: gray; }

#energy-total-energy {
  background-color: green; }

#city-level-bar {
  position: fixed;
  top: 0.5vh;
  left: 50%;
  width: 20vw;
  height: 8vh;
  transform: translateX(-50%); }

#xp-total-xp {
  width: 50%;
  background-color: purple; }

#city-lvl {
  position: absolute;
  color: gray;
  font-weight: bold;
  font-size: 2vh; }

#omg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#shop-activate {
  position: fixed;
  width: 10vh;
  height: 10vh;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-image: url("../../assets/Store.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: right 0.5s ease-in-out;
  border: 5px solid black;
  margin-right: -5px; }

#shop {
  width: 27vw;
  position: fixed;
  background-color: #ccc;
  transition: right 0.5s ease-in-out;
  top: 0px;
  right: -27vw;
  height: 100vh;
  box-sizing: border-box;
  border: 5px solid black;
  overflow: scroll; }

#top-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  border-bottom-style: double; }

#shop-title {
  font-size: 6vh; }

#shop-buttons {
  margin: 1.5vw 1.5vw 0vw 1.5vw; }
  #shop-buttons .shop-button {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 4.5vw;
    height: 4.25vw; }

.buildings-shop {
  list-style: none;
  padding: 0;
  margin-left: 2vw;
  margin-right: 2vw; }
  .buildings-shop .card-wrapper {
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 3px solid black; }
    .buildings-shop .card-wrapper .building-card {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .buildings-shop .card-wrapper .building-card .card-left-side {
        border-right: 1px solid black; }
        .buildings-shop .card-wrapper .building-card .card-left-side .building-count {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3vh;
          margin-top: 2vh;
          margin-bottom: 1vh; }
        .buildings-shop .card-wrapper .building-card .card-left-side .building-image {
          width: 12vw;
          cursor: pointer; }
      .buildings-shop .card-wrapper .building-card .card-right-side {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 2vh; }
        .buildings-shop .card-wrapper .building-card .card-right-side .resource-cost {
          display: flex;
          align-items: center;
          height: min-content;
          /* margin-top: 2vh; */
          margin-left: 1.5vh;
          border-bottom: 1px dashed; }
          .buildings-shop .card-wrapper .building-card .card-right-side .resource-cost .shop-resource-cost-image {
            width: 30%; }
          .buildings-shop .card-wrapper .building-card .card-right-side .resource-cost .resource-amount {
            margin-left: 0.75vw; }
    .buildings-shop .card-wrapper .card-bottom-side {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid black; }
      .buildings-shop .card-wrapper .card-bottom-side .building-name {
        font-size: 3vh; }

#bottom-middle-bar {
  position: fixed;
  display: none;
  flex-direction: column;
  bottom: 2vh;
  left: 50%;
  width: 15vw;
  height: 8vw;
  transform: translateX(-50%);
  border: 3px solid black;
  align-items: center;
  border-radius: 10%;
  background-color: brown; }
  #bottom-middle-bar #building-text-holder {
    cursor: pointer; }
  #bottom-middle-bar #button-holders {
    display: flex;
    background-color: chocolate; }
  #bottom-middle-bar #info-button, #bottom-middle-bar #upgrade-button {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  #bottom-middle-bar #info-button {
    background-image: url("../../assets/Info.png"); }
  #bottom-middle-bar #upgrade-button {
    background-image: url("../../assets/Upgrade.png");
    margin-left: 3vw; }

#upgrade-box {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  height: 27vw;
  width: 40vw;
  border: 3px solid black; }
  #upgrade-box #upgrade-building-name {
    width: 100%;
    height: 5vh;
    font-size: 5vh;
    text-align: center;
    border-bottom: 3px solid black;
    background-color: chocolate; }
    #upgrade-box #upgrade-building-name #exit-upgrade {
      position: absolute;
      width: 3vh;
      height: 3vh;
      right: 1vw;
      top: 1vh;
      border-radius: 50%; }
  #upgrade-box #upgrade-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%; }
    #upgrade-box #upgrade-wrapper #upg-img {
      height: 100%;
      border-right: 3px dashed black;
      background-color: goldenrod; }
      #upgrade-box #upgrade-wrapper #upg-img #upgrade-image {
        width: 90%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #upgrade-box #upgrade-wrapper #upg-resources {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: darkgoldenrod; }
      #upgrade-box #upgrade-wrapper #upg-resources .resource-cost {
        display: flex;
        align-items: center;
        height: min-content;
        /* margin-top: 2vh; */
        border-bottom: 1px dashed;
        background-color: burlywood; }
        #upgrade-box #upgrade-wrapper #upg-resources .resource-cost .shop-resource-cost-image {
          width: 16%; }
        #upgrade-box #upgrade-wrapper #upg-resources .resource-cost .resource-amount {
          margin-left: 0.75vw; }
      #upgrade-box #upgrade-wrapper #upg-resources #upg-btn {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center; }
        #upgrade-box #upgrade-wrapper #upg-resources #upg-btn #upg-img-holder {
          width: 80%;
          height: 60%;
          background-image: url("../../../assets/Upgrade_button.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer; }
