#shop-activate{
    position: fixed;
    width: 10vh;
    height: 10vh;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-image: url("../../assets/Store.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: right 0.5s ease-in-out;
    border: 5px solid black;
    margin-right: -5px;
}



#shop {
    width: 27vw;
    position: fixed;
    background-color: #ccc;
    transition: right 0.5s ease-in-out;
    top: 0px;
    right: -27vw;
    height: 100vh;
    box-sizing: border-box;
    border: 5px solid black;
    overflow: scroll;
}

#top-shop{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    border-bottom-style: double;
}

#shop-title{
    font-size: 6vh;
}

#shop-buttons{
    
    margin: 1.5vw 1.5vw 0vw 1.5vw;
    
    .shop-button{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        width: 4.5vw;
        height: 4.25vw;
    }    
}


.buildings-shop{
    
    list-style: none;
    padding: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    
    .card-wrapper{
        
        margin-bottom: 1.5vh;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        border: 3px solid black;
        
        .building-card{
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            .card-left-side{
                
                border-right: 1px solid black;
                
                .building-count{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 3vh;
                    margin-top: 2vh;
                    margin-bottom: 1vh;
                }
                .building-image{
                    position: relative;
                    width: 12vw;
                    //ako e unlocked
                    cursor: pointer;
                    >img{
                        width: 100%;   
                    }
                    .status{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        margin-top: 1.5vh;
                        .status-img{
                            width: 4vw;
                        }
                        .unlockable{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 1vh;
                            .unlocked{
                                position: absolute;
                                width: 5vh;
                            }
                            >label{
                                font-size: 4vh;
                                font-weight: bold;
                                color: white;
                            }
                            >img{
                                width: 5vh;
                            }
                        }
                    }
                }
                
            }
            
            .card-right-side{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: 2vh;

                .resource-cost{
                    display: flex;
                    align-items: center;
                    height: min-content;
                    /* margin-top: 2vh; */
                    margin-left: 1.5vh;
                    border-bottom: 1px dashed;

                    .shop-resource-cost-image{
                        width: 30%;
                    }
                    
                    .resource-amount{
                        margin-left: 0.75vw;
                    }
                }

            }
        }
        .card-bottom-side{
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid black;
        
            .building-name{
                font-size: 3vh;
            }
        }
    }
}

#bottom-middle-bar, #bottom-middle-bar-2{
    position: fixed;
    // display: flex;
    display: none;
    flex-direction: column;
    bottom: 2vh;
    left: 50%;
    width: 15vw;
    height: 8vw;
    transform: translateX(-50%);
    border: 3px solid black;
    align-items: center;
    border-radius: 10%;
    background-color: brown;
    #building-text-holder{
        cursor: pointer;
    }
    #button-holders{
        display: flex;
        background-color: chocolate;
    }
    #info-button, #upgrade-button{
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #info-button{
        background-image: url("../../assets/Info.png");
    }
    #upgrade-button{
        background-image: url("../../assets/Upgrade.png");
        margin-left: 3vw;
    }
}

#bottomo-middle-bar-2{
    width: 22.5vw;
    height: 12vw;    
}
